div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,ol,ul,li,figcaption,textarea,input{
   font: inherit;
}
section{
   background-color: #eeeeee;
}
section,.container,.container-fluid{
   position: relative;
   word-wrap: break-word;
}
a{
   font-style: normal;
   font-weight: 400;
   cursor: pointer;
}
a, a:hover{
   text-decoration: none;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.display-1,.display-2,.display-3,.display-4{
   line-height: 1;
   word-break: break-word;
   word-wrap: break-word;
}
b,strong{
   font-weight: bold;
}

.btn{
   font-weight: 700;
   border-width: 2px;
   border-style: solid;
   font-style: normal;
   letter-spacing: 2px;
   margin: .4rem .25rem;
   white-space: normal;
   transition-property: background-color,color,border-color,box-shadow;
   transition-duration: .3s,.3s,.3s,2s;
   transition-timing-function: ease-in-out;
   padding: 0.8rem 2rem;
   border-radius: 3px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   word-break: break-word;
}
a.btn{
   box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
}

.btn-white,.btn-white:active,.btn-white.active{
   background-color: #ffffff;
   border-color: #ffffff;
   color: #333333;
}
.btn-white:hover,.btn-white:focus,.btn-white.focus{
   color: #333333;
   background-color: #d9d9d9;
   border-color: #d9d9d9;
}
.btn-white.disabled,.btn-white:disabled{
   color: #333333;
   background-color: #d9d9d9;
   border-color: #d9d9d9;
}

.is-builder section.horizontal-menu .ampstart-btn{
   display: none;
}

.tky-text{
   font-style: normal;
   line-height: 1.3;
}

.display-1{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 5.6rem;
}
.display-2{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 3.4rem;
}
.display-3{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 2.4rem;
}
.display-4{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1.8rem;
}
.display-5{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1.4rem;
}
.display-6{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1rem;
}
.display-7{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 0.8rem;
}

@media (max-width: 768px){
   .display-1{
       font-size: 4.48rem;
       font-size: calc( 2.61rem + (5.6 - 2.61) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (2.61rem + (5.6 - 2.61) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-2{
       font-size: 2.72rem;
       font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-3{
       font-size: 1.92rem;
       font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-4{
       font-size: 1.44rem;
       font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-5{
       font-size: 1.12rem;
       font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-6{
       font-size: 0.8rem;
       font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-5{
       font-size: 0.64rem;
       font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
   }
}


@media (max-width: 991px){
   .is-builder section.horizontal-menu .navbar-toggler{
       display: block;
   }
}

.aa .nav-item:focus,.aa .nav-link:focus{
   outline: none;
}
.aa .navbar-nav{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   padding-left: 0;
}
.aa .navbar-nav .nav-link{
   margin: 0.667em 1em;
   font-weight: normal;
}
.aa .container{
   display: flex;
}
@media (max-width: 991px){
   .aa ul.navbar-nav{
       flex-direction: column;
   }
   .aa ul.navbar-nav li{
       margin: auto;
   }
}

.aa .link.dropdown-toggle:after{
   content: "";
   margin-left: 0.25rem;
   border-top: 0.35em solid;
   border-right: 0.35em solid transparent;
   border-left: 0.35em solid transparent;
   border-bottom: 0;
}
.aa .navbar{
   z-index: 100;
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 77px;
   transition: all 0.3s;
   background: #0a57a2;
}
.aa .navbar .navbar-logo{
   margin-right: 0.8rem;
}
.aa .navbar .navbar-logo img{
   height: auto;
}
.aa .navbar.navbar-short{
   background: #0a57a2;
}
.aa .navbar.navbar-short .navbar-brand{
   padding: 0;
}
.aa .navbar.opened{
   transition: all 0.3s;
   background: #0a57a2;
}
.aa .navbar .navbar-collapse{
   display: flex;
   justify-content: flex-end;
   z-index: 1;
   flex-basis: 100%;
   align-items: center;
}
.aa .navbar.collapsed button.navbar-toggler{
   display: block;
}
.aa .navbar.collapsed .navbar-collapse{
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   min-height: 100vh;
   background: #0a57a2;
   padding: 1.5rem 2rem 1rem 2rem;
}
.aa .navbar.collapsed.opened .navbar-collapse.show,.aa .navbar.collapsed.opened .navbar-collapse.collapsing{
   display: block;
}
.aa .navbar.collapsed .navbar-brand{
   flex-shrink: initial;
   word-break: break-word;
}
@media (max-width: 991px){
   .aa .navbar .navbar-collapse{
       display: none;
       position: absolute;
       top: 0;
       right: 0;
       min-height: 100vh;
       background: #0a57a2;
       padding: 1rem 2rem 1rem 2rem;
   }
   .aa .navbar.opened .navbar-collapse.show,.aa .navbar.opened .navbar-collapse.collapsing{
       display: block;
   }
   .aa .navbar .navbar-brand{
       flex-shrink: initial;
       word-break: break-word;
   }
}
.aa .navbar-brand{
   display: flex;
   flex-shrink: 0;
   align-items: center;
   margin-right: 0;
   padding: 0;
   transition: all 0.3s;
   word-break: break-word;
   z-index: 1;
}
.aa .navbar-brand .navbar-caption{
   line-height: inherit;
   font-weight: normal;
   letter-spacing: 1px;
   display: flex;
}
.aa .navbar-brand .navbar-logo a{
   outline: none;
}
.aa .navbar-expand-lg .navbar-nav .nav-link{
   padding: 0;
}
.aa ul.navbar-nav{
   flex-wrap: wrap;
}
.aa .navbar-buttons{
   text-align: center;
}
.aa button.navbar-toggler{
   display: none;
   outline: none;
   width: 31px;
   height: 20px;
   cursor: pointer;
   transition: all 0.2s;
   position: relative;
   align-self: center;
}
.aa button.navbar-toggler .hamburger span{
   position: absolute;
   right: 0;
   width: 30px;
   height: 2px;
   border-right: 5px;
   background-color: #ffffff;
}
.aa button.navbar-toggler .hamburger span:nth-child(1){
   top: 0;
   transition: all 0.2s;
}
.aa button.navbar-toggler .hamburger span:nth-child(2){
   top: 8px;
   transition: all 0.15s;
}
.aa button.navbar-toggler .hamburger span:nth-child(3){
   top: 8px;
   transition: all 0.15s;
}
.aa button.navbar-toggler .hamburger span:nth-child(4){
   top: 16px;
   transition: all 0.2s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1){
   top: 8px;
   width: 0;
   opacity: 0;
   right: 50%;
   transition: all 0.2s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2){
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
   transition: all 0.25s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3){
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   transition: all 0.25s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4){
   top: 8px;
   width: 0;
   opacity: 0;
   right: 50%;
   transition: all 0.2s;
}
.aa a.nav-link{
   display: flex;
   align-items: center;
   justify-content: center;
   letter-spacing: 2px;
}
.aa .nav-link .tky-iconfont,.aa .dropdown-item .tky-iconfont{
   margin-right: 0.2rem;
}
.btn .tky-iconfont,.btn.btn-sm .tky-iconfont{
   cursor: pointer;
   margin-right: 0.5rem;
}
.aa .ampstart-btn.hamburger{
   position: absolute;
   top: 25px;
   right: 20px;
   margin-left: auto;
   width: 30px;
   height: 20px;
   background: none;
   border: none;
   cursor: pointer;
   z-index: 1000;
}
.aa .ampstart-btn.hamburger.sticky-but{
   position: fixed;
}
.aa .ampstart-btn.hamburger:focus{
   outline: none;
}
.aa .ampstart-btn.hamburger span{
   position: absolute;
   right: 0;
   width: 30px;
   height: 2px;
   border-right: 5px;
   background-color: #ffffff;
}
.aa .ampstart-btn.hamburger span:nth-child(1){
   top: 0;
   transition: all 0.2s;
}
.aa .ampstart-btn.hamburger span:nth-child(2){
   top: 8px;
   transition: all 0.15s;
}
.aa .ampstart-btn.hamburger span:nth-child(3){
   top: 8px;
   transition: all 0.15s;
}
.aa .ampstart-btn.hamburger span:nth-child(4){
   top: 16px;
   transition: all 0.2s;
}
@media (min-width: 992px){
   .aa .ampstart-btn,.aa amp-sidebar{
       display: none;
   }
}
.aa amp-sidebar{
   min-width: 260px;
   z-index: 1050;
   background-color: #0a57a2;
}
.aa amp-sidebar.open:after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: red;
}
.aa .open{
   transform: translateX(0%);
   display: block;
}
.aa .builder-sidebar{
   background-color: #0a57a2;
   position: relative;
   height: 100vh;
   z-index: 1030;
   padding: 1rem 2rem;
   max-width: 20rem;
}
.aa .builder-sidebar .dropdown{
   position: relative;
}
.aa .builder-sidebar .dropdown:hover > .dropdown-menu{
   position: relative;
   text-align: center;
}
.aa .sidebar{
   padding: 1rem 0;
   margin: 0;
}
.aa .sidebar > li{
   list-style: none;
   display: flex;
   flex-direction: column;
}
.aa .sidebar a{
   display: block;
   text-decoration: none;
   margin-bottom: 10px;
}
.aa .close-sidebar{
   width: 30px;
   height: 30px;
   position: relative;
   cursor: pointer;
   background-color: transparent;
   border: none;
}
.aa .close-sidebar:focus{
   outline: 2px auto #e3699a;
}
.aa .close-sidebar span{
   position: absolute;
   left: 0;
   width: 30px;
   height: 2px;
   border-right: 5px;
   background-color: #ffffff;
}
.aa .close-sidebar span:nth-child(1){
   transform: rotate(45deg);
}
.aa .close-sidebar span:nth-child(2){
   transform: rotate(-45deg);
}
.aa amp-img{
   width: 50px;
   display: flex;
   align-items: center;
}
@media (max-width: 768px){
   .aa amp-img{
       max-height: 55px;
       max-width: 55px;
   }
}
.lang-sel{
   display: inline-block !important;
}
.nav-item span {
   margin: 0.667em 1em;
}
.display-7{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 0.8rem;
}
.text-white{
   color: #ffffff;
}
a.text-white:hover,a.text-white:focus{
   color: #b3b3b3;
}
.container{
   padding-right: 15px;
   padding-left: 15px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
}
@media (max-width: 767px){
   .container{
       max-width: 540px;
   }
}
@media (min-width: 768px){
   .container{
       max-width: 720px;
   }
}
@media (min-width: 992px){
   .container{
       max-width: 960px;
   }
}
@media (min-width: 1200px){
   .container{
       max-width: 1140px;
   }
}
.ab{
   padding-top: 11rem;
   padding-bottom: 11rem;
   background: linear-gradient(135deg,"/static/img/foto4.jpg" 0%,#19a3c1 100%);
   background-image: url("/static/img/foto4.jpg");
}
.ab .tky-overlay{
   background-color: #000000;
   opacity: 0.5;
}
.ab .tky-overlay{
   background: linear-gradient(135deg,#000000 0%,#022e93 100%);
   opacity: 0.5;
}
.ab .tky-section-title{
   color: #ffffff;
   text-align: left;
}
.ab .tky-text,.ab .tky-section-btn{
   color: #ffffff;
}
.ab h1{
   margin: 0;
}
.ab p{
   margin-bottom: 2.5rem;
}
section{
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
}
.tky-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.tky-row{
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}

@media (max-width: 767px){
   .tky-row{
       margin: 0;
   }
}

@media (min-width: 768px){
   .tky-col-md-12{
       -ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;
       padding-right: 15px;
       padding-left: 15px;
   }
}

@media (min-width: 992px){
   .tky-col-lg-6{
       -ms-flex: 0 0 50%;
       flex: 0 0 50%;
       max-width: 50%;
       padding-right: 15px;
       padding-left: 15px;
   }
}

.tky-justify-content-left{
   justify-content: flex-start;
}

.tky-section-title{
   font-style: normal;
   line-height: 55px;
}

@media (max-width: 767px){
   .align-left,.align-center,.align-right,.tky-section-btn,.tky-section-title{
       text-align: center;
   }
}
