div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,ol,ul,li,figcaption,textarea,input{
   font: inherit;
}
*{
   box-sizing: border-box;
}
body{
   font-family: Source Sans Pro;
   font-style: normal;
   line-height: 1.5;
}
section{
   background-color: #eeeeee;
}
section,.container,.container-fluid{
   position: relative;
   word-wrap: break-word;
}
a{
   font-style: normal;
   font-weight: 400;
   cursor: pointer;
}
a, a:hover{
   text-decoration: none;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.display-1,.display-2,.display-3,.display-4{
   line-height: 1;
   word-break: break-word;
   word-wrap: break-word;
}
b,strong{
   font-weight: bold;
}

.btn{
   font-weight: 700;
   border-width: 2px;
   border-style: solid;
   font-style: normal;
   letter-spacing: 2px;
   margin: .4rem .25rem;
   white-space: normal;
   transition-property: background-color,color,border-color,box-shadow;
   transition-duration: .3s,.3s,.3s,2s;
   transition-timing-function: ease-in-out;
   padding: 0.8rem 2rem;
   border-radius: 3px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   word-break: break-word;
}
a.btn{
   box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
}

.btn-white,.btn-white:active,.btn-white.active{
   background-color: #ffffff;
   border-color: #ffffff;
   color: #333333;
}
.btn-white:hover,.btn-white:focus,.btn-white.focus{
   color: #333333;
   background-color: #d9d9d9;
   border-color: #d9d9d9;
}
.btn-white.disabled,.btn-white:disabled{
   color: #333333;
   background-color: #d9d9d9;
   border-color: #d9d9d9;
}

.is-builder section.horizontal-menu .ampstart-btn{
   display: none;
}

.tky-text{
   font-style: normal;
   line-height: 1.3;
}

.card-img{
    text-align: center;
    flex-shrink: 0;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    -webkit-transform: translate3d(-50%,-50%,0);
    z-index: 4;
}
.spinner em{
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: slide 1s infinite;
}
.spinner em:nth-child(1){
    -webkit-animation-delay: 0.1s;
    background: #b69e59;
}
.spinner em:nth-child(2){
    -webkit-animation-delay: 0.2s;
    background: #583e64;
}
.spinner em:nth-child(3){
    -webkit-animation-delay: 0.3s;
    background: #1e574c;
}

.display-1{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 5.6rem;
}
.display-2{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 3.4rem;
}
.display-3{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 2.4rem;
}
.display-4{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1.8rem;
}
.display-5{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1.4rem;
}
.display-6{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 1rem;
}
.display-7{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 0.8rem;
}

@media (max-width: 768px){
   .display-1{
       font-size: 4.48rem;
       font-size: calc( 2.61rem + (5.6 - 2.61) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (2.61rem + (5.6 - 2.61) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-2{
       font-size: 2.72rem;
       font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-3{
       font-size: 1.92rem;
       font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-4{
       font-size: 1.44rem;
       font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-5{
       font-size: 1.12rem;
       font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-6{
       font-size: 0.8rem;
       font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
   }
   .display-5{
       font-size: 0.64rem;
       font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
       line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
   }
}


@media (max-width: 991px){
   .is-builder section.horizontal-menu .navbar-toggler{
       display: block;
   }
}

.aa .nav-item:focus,.aa .nav-link:focus{
   outline: none;
}
.aa .navbar-nav{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   padding-left: 0;
}
.aa .navbar-nav .nav-link{
   margin: 0.667em 1em;
   font-weight: normal;
}

.aa .navbar-dropdown{
   padding: 0.5rem 1rem;
   position: fixed;
}

.aa .container{
   display: flex;
}
@media (max-width: 991px){
   .aa ul.navbar-nav{
       flex-direction: column;
   }
   .aa ul.navbar-nav li{
       margin: auto;
   }
}

.aa .link.dropdown-toggle:after{
   content: "";
   margin-left: 0.25rem;
   border-top: 0.35em solid;
   border-right: 0.35em solid transparent;
   border-left: 0.35em solid transparent;
   border-bottom: 0;
}
.aa .navbar{
   z-index: 100;
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 77px;
   transition: all 0.3s;
   background: #0a57a2;
}
.aa .navbar .navbar-logo{
   margin-right: 0.8rem;
}
.aa .navbar .navbar-logo img{
   height: auto;
}
.aa .navbar.navbar-short{
   background: #0a57a2;
}
.aa .navbar.navbar-short .navbar-brand{
   padding: 0;
}
.aa .navbar.opened{
   transition: all 0.3s;
   background: #0a57a2;
}
.aa .navbar .navbar-collapse{
   display: flex;
   justify-content: flex-end;
   z-index: 1;
   flex-basis: 100%;
   align-items: center;
}
.aa .navbar.collapsed button.navbar-toggler{
   display: block;
}
.aa .navbar.collapsed .navbar-collapse{
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   min-height: 100vh;
   background: #0a57a2;
   padding: 1.5rem 2rem 1rem 2rem;
}
.aa .navbar.collapsed.opened .navbar-collapse.show,.aa .navbar.collapsed.opened .navbar-collapse.collapsing{
   display: block;
}
.aa .navbar.collapsed .navbar-brand{
   flex-shrink: initial;
   word-break: break-word;
}
@media (max-width: 991px){
   .aa .navbar .navbar-collapse{
       display: none;
       position: absolute;
       top: 0;
       right: 0;
       min-height: 100vh;
       background: #0a57a2;
       padding: 1rem 2rem 1rem 2rem;
   }
   .aa .navbar.opened .navbar-collapse.show,.aa .navbar.opened .navbar-collapse.collapsing{
       display: block;
   }
   .aa .navbar .navbar-brand{
       flex-shrink: initial;
       word-break: break-word;
   }
}
.aa .navbar-brand{
   display: flex;
   flex-shrink: 0;
   align-items: center;
   margin-right: 0;
   padding: 0;
   transition: all 0.3s;
   word-break: break-word;
   z-index: 1;
}
.aa .navbar-brand .navbar-caption{
   line-height: inherit;
   font-weight: normal;
   letter-spacing: 1px;
   display: flex;
}
.aa .navbar-brand .navbar-logo a{
   outline: none;
}
.aa .navbar-expand-lg .navbar-nav .nav-link{
   padding: 0;
}
.aa ul.navbar-nav{
   flex-wrap: wrap;
}
.aa .navbar-buttons{
   text-align: center;
}
.aa button.navbar-toggler{
   display: none;
   outline: none;
   width: 31px;
   height: 20px;
   cursor: pointer;
   transition: all 0.2s;
   position: relative;
   align-self: center;
}
.aa button.navbar-toggler .hamburger span{
   position: absolute;
   right: 0;
   width: 30px;
   height: 2px;
   border-right: 5px;
   background-color: #ffffff;
}
.aa button.navbar-toggler .hamburger span:nth-child(1){
   top: 0;
   transition: all 0.2s;
}
.aa button.navbar-toggler .hamburger span:nth-child(2){
   top: 8px;
   transition: all 0.15s;
}
.aa button.navbar-toggler .hamburger span:nth-child(3){
   top: 8px;
   transition: all 0.15s;
}
.aa button.navbar-toggler .hamburger span:nth-child(4){
   top: 16px;
   transition: all 0.2s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1){
   top: 8px;
   width: 0;
   opacity: 0;
   right: 50%;
   transition: all 0.2s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2){
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
   transition: all 0.25s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3){
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   transition: all 0.25s;
}
.aa nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4){
   top: 8px;
   width: 0;
   opacity: 0;
   right: 50%;
   transition: all 0.2s;
}
.aa a.nav-link{
   display: flex;
   align-items: center;
   justify-content: center;
   letter-spacing: 2px;
}
.aa .nav-link .tky-iconfont,.aa .dropdown-item .tky-iconfont{
   margin-right: 0.2rem;
}
.btn .tky-iconfont,.btn.btn-sm .tky-iconfont{
   cursor: pointer;
   margin-right: 0.5rem;
}
.aa .ampstart-btn.hamburger{
   position: absolute;
   top: 25px;
   right: 20px;
   margin-left: auto;
   width: 30px;
   height: 20px;
   background: none;
   border: none;
   cursor: pointer;
   z-index: 1000;
}
.aa .ampstart-btn.hamburger.sticky-but{
   position: fixed;
}
.aa .ampstart-btn.hamburger:focus{
   outline: none;
}
.aa .ampstart-btn.hamburger span{
   position: absolute;
   right: 0;
   width: 30px;
   height: 2px;
   border-right: 5px;
   background-color: #ffffff;
}
.aa .ampstart-btn.hamburger span:nth-child(1){
   top: 0;
   transition: all 0.2s;
}
.aa .ampstart-btn.hamburger span:nth-child(2){
   top: 8px;
   transition: all 0.15s;
}
.aa .ampstart-btn.hamburger span:nth-child(3){
   top: 8px;
   transition: all 0.15s;
}
.aa .ampstart-btn.hamburger span:nth-child(4){
   top: 16px;
   transition: all 0.2s;
}
@media (min-width: 992px){
   .aa .ampstart-btn,.aa amp-sidebar{
       display: none;
   }
}
.aa amp-sidebar{
   min-width: 260px;
   z-index: 1050;
   background-color: #0a57a2;
}
.aa amp-sidebar.open:after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: red;
}
.aa .open{
   transform: translateX(0%);
   display: block;
}
.aa .builder-sidebar{
   background-color: #0a57a2;
   position: relative;
   height: 100vh;
   z-index: 1030;
   padding: 1rem 2rem;
   max-width: 20rem;
}
.aa .builder-sidebar .dropdown{
   position: relative;
}
.aa .builder-sidebar .dropdown:hover > .dropdown-menu{
   position: relative;
   text-align: center;
}
.aa .sidebar{
   padding: 1rem 0;
   margin: 0;
}
.aa .sidebar > li{
   list-style: none;
   display: flex;
   flex-direction: column;
}
.aa .sidebar a{
   display: block;
   text-decoration: none;
   margin-bottom: 10px;
}
.aa .close-sidebar{
   width: 30px;
   height: 30px;
   position: relative;
   cursor: pointer;
   background-color: transparent;
   border: none;
}
.aa .close-sidebar:focus{
   outline: 2px auto #e3699a;
}
.aa .close-sidebar span{
   position: absolute;
   left: 0;
   width: 30px;
   height: 2px;
   border-right: 5px;
   background-color: #ffffff;
}
.aa .close-sidebar span:nth-child(1){
   transform: rotate(45deg);
}
.aa .close-sidebar span:nth-child(2){
   transform: rotate(-45deg);
}
.aa amp-img{
   width: 50px;
   display: flex;
   align-items: center;
}
@media (max-width: 768px){
   .aa amp-img{
       max-height: 55px;
       max-width: 55px;
   }
}
.lang-sel{
   display: inline-block !important;
}
.nav-item span {
   margin: 0.667em 1em;
}
.display-7{
   font-family: 'Source Sans Pro',sans-serif;
   font-size: 0.8rem;
}
.text-white{
   color: #ffffff;
}
a.text-white:hover,a.text-white:focus{
   color: #b3b3b3;
}
.container{
   padding-right: 15px;
   padding-left: 15px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
}
@media (max-width: 767px){
   .container{
       max-width: 540px;
   }
}
@media (min-width: 768px){
   .container{
       max-width: 720px;
   }
}
@media (min-width: 992px){
   .container{
       max-width: 960px;
   }
}
@media (min-width: 1200px){
   .container{
       max-width: 1140px;
   }
}
.ab{
   padding-top: 11rem;
   padding-bottom: 11rem;
   background: linear-gradient(135deg,"/static/img/foto4.jpg" 0%,#19a3c1 100%);
   background-image: url("/static/img/foto4.jpg");
}
.ab .tky-overlay{
   background-color: #000000;
   opacity: 0.5;
}
.ab .tky-overlay{
   background: linear-gradient(135deg,#000000 0%,#022e93 100%);
   opacity: 0.5;
}
.ab .tky-section-title{
   color: #ffffff;
   text-align: left;
}
.ab .tky-text,.ab .tky-section-btn{
   color: #ffffff;
}
.ab h1{
   margin: 0;
}
.ab p{
   margin-bottom: 2.5rem;
}
section{
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
}
.tky-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.tky-row{
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}

@media (max-width: 767px){
    .tky-col-sm-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .tky-row{
       margin: 0;
   }
}

@media (min-width: 768px){
    .tky-col-md-2{
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .tky-col-md-6{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .tky-col-md-8{
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .tky-col-md-10{
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .tky-col-md-12{
       -ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;
       padding-right: 15px;
       padding-left: 15px;
   }
}

@media (min-width: 992px){
    .tky-col-lg-1{
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .tky-col-lg-3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .tky-col-lg-5{
        -ms-flex: 0 0 41.666%;
        flex: 0 0 41.666%;
        max-width: 41.666%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .tky-col-lg-6{
       -ms-flex: 0 0 50%;
       flex: 0 0 50%;
       max-width: 50%;
       padding-right: 15px;
       padding-left: 15px;
    }
    .tky-col-lg-7{
       -ms-flex: 0 0 58.333333%;
       flex: 0 0 58.333333%;
       max-width: 58.333333%;
       padding-right: 15px;
       padding-left: 15px;
    }
    .tky-col-lg-8{
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .tky-col-lg-10{
        -ms-flex: 0 0 83.3333%;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .tky-col-lg-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.tky-justify-content-left{
   justify-content: flex-start;
}
.tky-justify-content-center{
   justify-content: center;
}
.tky-section-title{
   font-style: normal;
   line-height: 55px;
}
.align-center{
   text-align: center;
}
@media (max-width: 767px){
   .align-left,.align-center,.align-right,.tky-section-btn,.tky-section-title{
       text-align: center;
   }
}

.ac{
   padding-top: 7rem;
   padding-bottom: 7rem;
   background-color: #2bb4c5;
   background: linear-gradient(135deg,#2bb4c5 0%,#3c5ca2 100%);
}
.ac .tky-overlay{
   background: linear-gradient(135deg,#000000 0%,#022e93 100%);
   opacity: 0.5;
}
.ac .tky-section-title{
   color: #ffffff;
   text-align: center;
}
.ac .tky-text {
   color: #ffffff;
}
.ac .tky-section-btn{
   color: #ffffff;
   text-align: center;
}

.ad{
   padding-top: 5rem;
   padding-bottom: 5rem;
   background-color: #f1f4fa;
}
.ad .tky-overlay{
   background: linear-gradient(135deg,#000000 0%,#022e93 100%);
   opacity: 0.5;
}
.ad .line{
   width: 40%;
   height: 4px;
   background-color: #0a193b;
   margin-left: -2rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}
.ad .tky-text,.ad .tky-section-btn{
   color: #0a193b;
   text-align: left;
}
.ad .block-1{
   background: linear-gradient(135deg,#783396 0%,#fede9a 100%);
   padding: 2rem 3rem;
   border-radius: 2rem;
   margin-bottom: 2rem;
   margin-left: 4rem;
   margin-right: 2rem;
   box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);
}
.ad .block-2{
   background: linear-gradient(135deg,#117bb1 0%,#d0f2c8 100%);
   padding: 2rem 3rem;
   border-radius: 2rem;
   margin-bottom: 2rem;
   margin-right: 4rem;
   margin-left: 2rem;
   box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);
}
.ad .block-3{
   background: linear-gradient(135deg,#361291 0%,#a54997 100%);
   padding: 2rem 3rem;
   border-radius: 2rem;
   margin-bottom: 2rem;
   margin-left: 4rem;
   margin-right: 2rem;
   box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);
}
.ad .tky-section-title{
   color: #0a193b;
   text-align: left;
}
.ad .block1{
   color: #ffffff;
}
.ad .tky-iconfont{
   font-size: 2rem;
   color: #ffffff;
   padding-right: 1rem;
}
.ad p{
   margin: 0;
   line-height: 25px;
}
.ad h1{
   margin: 0;
}
.ad .tky-form{
   padding-top: 1rem;
}
.ad .area{
   width: 100%;
}
.ad label.input-label{
   padding: 10px;
}
.ad .bgwhite{
   background-color: transparent;
   padding: 20px;
}
.ad textarea{
   width: 100%;
   background-color: transparent;
   border: none;
   border-bottom: 2px solid lightgray;
}
.ad input{
   width: 100%;
   background-color: transparent;
   border: none;
   border-bottom: 2px solid lightgray;
}
.ad .block1 B{
   color: #ffffff;
}
@media (max-width: 992px){
   .ad .block-1,.ad .block-2,.ad .block-3{
       margin: 1rem 0.5rem;
       padding: 1rem 2rem;
       border-radius: 1rem;
   }
}
.tky-font-bold {
    font-weight: bold;
}

.ae{
   padding-top: 7rem;
   padding-bottom: 7rem;
   background-color: #f1f4fa;
}
.ae .tky-overlay{
   background: linear-gradient(135deg,#000000 0%,#022e93 100%);
   opacity: 0.5;
}
.ae .tky-text,.ae .tky-section-btn{
   color: #313131;
}
.ae .tky-iconfont{
   font-size: 3.5rem;
   background: -webkit-gradient(linear,left top,left bottom,from(#5fc7c6),to(#6394ff));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-top: 1rem;
   margin-bottom: 2rem;
}
.ae .tky-section-title{
   color: #0a193b;
   margin: 0;
   padding-top: 0.2rem;
   padding-bottom: 1rem;
   line-height: 25px;
}
.ae .padding{
   padding-bottom: 2rem;
}
.ae .vcenter{
   margin: auto;
}
.ae .tky-text{
   padding: 0;
   margin: 0;
}
.ae p{
   line-height: 25px;
}

.af{
   padding-top: 4rem;
   padding-bottom: 5rem;
   background-color: #0a193b;
   background: linear-gradient(135deg,#0a193b 0%,#0a57a2 100%);
}
.af .tky-overlay{
   background: linear-gradient(135deg,#000000 0%,#022e93 100%);
   opacity: 0.5;
}
.af amp-img{
   width: 75px;
   margin: auto;
   margin-bottom: 2rem;
}
.af ul{
   display: flex;
   flex-direction: column;
   list-style: none;
   padding: 0;
}
.af .link{
   margin: 1rem;
   letter-spacing: 2px;
}
.af .navbar-logo{
   width: 100px;
   height: 100px;
   margin: auto;
   margin-bottom: 2rem;
}
.af .tky-section-title{
   color: #ffffff;
}
.af .tky-text,.af .tky-section-btn{
   color: #6394ff;
}
.af .ico-wrapper{
   flex-direction: row;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.af .card-img{
   border: 2px solid #6394ff;
   border-radius: 0.5rem;
   width: 45px;
   margin: 5px;
   height: 45px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
}
.af .card-img:hover{
   background-color: #6394ff;
}
.af .tky-iconfont{
   font-size: 24px;
   color: #ffffff;
}
.af .card-img a{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ag{
    padding-top: 60px;
    padding-bottom: 60px;
    /*background-color: #232323;*/
    background-color: #2bb4c5;
    background: linear-gradient(135deg,#2bb4c5 0%,#3c5ca2 100%);
}
.ag .tky-overlay{
   background: linear-gradient(135deg,#000000 0%,#022e93 100%);
   opacity: 0.5;
}

.ag .underline{
    padding-top: .5rem;
}
.ag .underline .line{
    width: 5rem;
    height: 1px;
    display: inline-block;
    background-color: #b69e59;
    transition: width .3s;
}
.ag .title-wrap:hover .line{
    width: 6rem;
}
.ag .title-wrap{
    padding-bottom: 3rem;
}
.ag .card{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    border-radius: 0;
    width: 100%;
    min-height: 1px;
}
.ag .card .card-img{
    overflow: hidden;
}
.ag .card .card-img amp-img{
    transition: all .4s;
}
.ag .card:hover .card-wrapper{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}
.ag .card:hover .card-img amp-img{
    transform: scale(1.2,1.2);
}
.ag .card .card-wrapper{
    background: #ffffff;
    height: 100%;
}
.ag .icons-list{
    padding-top: 1rem;
    border-top: 1px solid #cccccc;
}
.ag .icons-list a:not(:last-child){
    margin-right: 1rem;
}
.ag .icons-list a span{
    font-size: 1.3rem;
    color: #cccccc;
}
.ag .icons-list a span:hover{
    color: #232323;
}
.ag .card-box{
    padding: 1.5rem;
}
.ag .card-box .card-title{
    margin: 0;
}
.ag .card-box .card-title{
    margin-bottom: 1rem;
}
.ag .card-box .card-subtitle{
    margin: 0;
}
.ag .card-box .card-text{
    padding-top: 1rem;
}
.ag .card-box .icons-list{
    margin-top: 1rem;
}
@media (max-width: 991px){
    .ag .md-pb{
        padding-bottom: 2rem;
    }
}
@media (max-width: 767px){
    .ag .card:not(.last-card){
        padding-bottom: 2rem;
    }
}
.ag .tky-section-title,.ag .underline{
    color: #ffffff;
}
